* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.img {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
.img-1 {
  padding-top: 4vw;
}
.img-2 {
  padding-top: 8vw;
}

.time {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
.time-1 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(21, 21, 21), rgb(39, 39, 39));
}
.time-2 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(39, 39, 39), rgb(94, 94, 94));
}
.time-3 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(94, 94, 94), rgb(142, 149, 167));
}
.time-4 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(142, 149, 167), rgb(201, 212, 238));
}
.time-5 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(201, 212, 238), rgb(165, 205, 255));
}
.time-6 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(165, 205, 255), rgb(126, 182, 251));
}
.time-7 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(126, 182, 251), rgb(83, 159, 252));
}
.time-8 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(83, 159, 252), rgb(53, 142, 252));
}
.time-9 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(53, 142, 252), rgb(35, 131, 247));
}
.time-10 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(35, 131, 247), rgb(100, 153, 219));
}
.time-11 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(100, 153, 219), rgb(118, 155, 201));
}
.time-12 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(118, 155, 201), rgb(238, 174, 107));
}
.time-13 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(238, 174, 107), rgb(229, 166, 98));
}
.time-14 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(229, 166, 98), rgb(233, 157, 76));
}
.time-15 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(233, 157, 76), rgb(228, 151, 88));
}
.time-16 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(228, 151, 88), rgb(219, 159, 95));
}
.time-17 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(219, 159, 95), rgb(49, 43, 62));
}
.time-18 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(49, 43, 62), rgb(32, 30, 43));
}
.time-19 {
  padding-block: 60vw;
  background: linear-gradient(to bottom, rgb(32, 30, 43), rgb(17, 16, 26));
}

.text {
  position: absolute;
  margin-inline: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.598);
}